<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604469313776-c0sfch0ouv4g7cpo37kcqpvj9o0ejlao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604469313776-c0sfch0ouv4g7cpo37kcqpvj9o0ejlao</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>604469313776-3618cj4nomjm1udjhfp8mca5c6npbaij.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGTpUVM-iMabtiWqIZAKHJtCbKYenQRxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>604469313776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.optgroup.paprika</string>
	<key>PROJECT_ID</key>
	<string>test-project-f54ab</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-f54ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604469313776:ios:2851b773234faf5d934235</string>
</dict>
</plist>